.box9 .box-content,.box9 .icon li,.box9 img{transition:all .35s ease 0s}
.box9 .icon,.box9 .title{width:100%;font-size:22px}
.box9{background:#fff;text-align:center;position:relative;padding: 2px}
.box9 img{width:100%;height:auto}
.box9:hover img{opacity:.5}
.box9 .box-content{padding:30px 10px 30px 0;background:rgba(0,0,0,.65);position:absolute;top:0;left:0;bottom:0;right:0;opacity:0}
.box9:hover .box-content{top:10px;left:10px;bottom:10px;right:10px;opacity:1}
.box9 .title{color:#fff;line-height:17px;margin:5px 0;position:absolute;bottom:55%}
.box10 .icon li a,.box9 .icon li a{line-height:38px;border-radius:50%}
.box9 .icon{list-style:none;padding:0;margin:0;position:absolute;top:50%}
.box9 .icon li{display:inline-block;opacity:0;transform:translateY(40px)}
.box9:hover .icon li{opacity:1;transform:translateY(0)}
.box9:hover .icon li:first-child{transition-delay:.1s}
.box9:hover .icon li:nth-child(2){transition-delay:.2s}
.box9 .icon li a{display:block;width:38px;height:38px;background:#f39c12;font-size:15px;color:#fff;margin-right:5px;transition:all .35s ease 0s;-webkit-transition:all .35s ease 0s}
.box9 .icon a:hover{background:#fff;color:#f39c12;}

footer {
    background: #222;
}
.copyright {
    background: #222;
    border-top: 1px solid #444;
}
footer p ,footer p a,.copyright p{
    color: #999;
}
.copyright p a{
    color: #ccc;
}
footer ul.social_section_1info a {
    background: none;
    margin: 0;
    line-height: initial;
    width: auto;
    height: auto;
    font-size: 13px;
    margin-left: 20px;
}
footer ul.social_section_1info a span.fa{
    color: #aaa;
    line-height: 35px;
    font-size: 13px;
}
h3.wthree-logo a {
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: 400;
    color: #fff;
}
h3.wthree-logo a span {
    font-weight: 800;
}
.move-top {
    position: relative;
}

a.move-top {
    text-align: center;
    position: absolute;
    right: 1%;
    bottom: 0%;
}

a.move-top span{
    color: #fff;
    width: 36px;
    height: 36px;
    border: transparent;
    line-height: 2em;
    background: #333;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
}
footer ul.social_section_1info a span.fa {
    color: #aaa;
    line-height: 35px;
    font-size: 13px;
}
footer ul.social_section_1info a span.fa {
    color: #aaa;
    line-height: 35px;
    font-size: 13px;
}
ul.social_section_1info a span.fa {
    color: #fff;
    font-size: 13.5px;
    line-height: 40px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
        line-height: 1;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.address{
    padding-left: 3em;
}
.mt-2{
    padding-left: 3em;

}
